<%= turbo_frame_tag 'admin_dashboard_ticket_conversations' do %>
  <% if @ticket.conversations.any? %>
    <% @ticket.conversations.each do |conversation| %>
      <div class="row row-cols-2 align-items-center">
        <div class="col-2">
          <strong class="text-capitalize"> <%= conversation.sender_name %></strong>
          <p class="mb-0">Thursday 25th June 2023</p>
        </div>
        <div class="col-10"><%= conversation.message %></div>
      </div>
      <!-- Display other message details as needed -->
       <% conversation.files.each_with_index do |file, idx| %>
       <div class="d-flex border align-items-center py-2 px-3 rounded-lg mt-2 uploaded-file">
          <%= image_tag('backend-custom-file-icon.svg', alt: 'Send', width: '40px', height: '40px') %>
          <p class="mb-0">
            <% file_url = Rails.application.routes.url_helpers.url_for(file) %>
            <%= link_to file.blob.filename.to_s, file_url, target: "_blank" %>
          </p>
        </div>
        <% end %>
      <hr>
    <% end %>
  <% else %>
    <div class="text-center no-objects-found m-5">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Conversation)) %>!
    </div>
  <% end %>
<% end %>
