<% content_for :page_title do %>
  <a class="btn btn-outline-info mr-3 pr-1">
    <%= svg_icon name: 'chevron-left.svg', width: 15, height: 15%>
  </a>
  <%= @ticket.number %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @ticket } %>
<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to 'Ticket Infomation',
                spree.edit_admin_ticket_path(@ticket),
                class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Conversation',
                conversations_admin_ticket_path(@ticket),
                class: "nav-link active" %>
  </li>
<% end  %>

<%= render partial: 'spree/admin/tickets/chat' %>

<%= render partial: 'spree/admin/tickets/chat_form' %>
