<% content_for :page_title do %>
  <%= link_to Spree.t(:tickets), spree.admin_tickets_url %> /
  <%= @ticket.number %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @ticket } %>
<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to 'Ticket Infomation',
                spree.edit_admin_ticket_path(@ticket),
                class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Conversation',
                conversations_admin_ticket_path(@ticket),
                class: "nav-link" %>
  </li>
<% end  %>

<%= form_for [:admin, @ticket] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
