<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_tickets_path %>
  <%= @ticket.number %>
  <%= status_tag(@ticket) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @ticket } %>
<% content_for :page_tabs do %>
  <li class="nav-item nav-link active">
    <%= image_tag('backend-custom-ticket-information-icon.svg', alt: 'Icon', width: '13px', height: '10px', class: 'mr-1') %>
    <%= link_to 'Ticket Infomation',
                spree.edit_admin_ticket_path(@ticket)%>
  </li>
  <li class="nav-item nav-link">
    <%= image_tag('backend-custom-conversation-icon.svg', alt: 'Icon', width: '12px', height: '12px', class: 'mr-1') %>
    <%= link_to 'Conversation',
                conversations_admin_ticket_path(@ticket)%>
  </li>
<% end  %>

<%= form_for [:admin, @ticket] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="mt-4">
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </div>
  </fieldset>
<% end %>
