<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_tickets_path %>
  <%= Spree.t(:new_ticket) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @ticket } %>

<%= form_for [:admin, @ticket] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="mt-4">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
