<% content_for :page_title do %>
  <a class="btn btn-outline-info mr-3 pr-1">
    <%= svg_icon name: 'chevron-left.svg', width: 15, height: 15%>
  </a>
  <%= Spree.t(:new_ticket) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @ticket } %>

<%= form_for [:admin, @ticket] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="mt-4">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
