<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @ticket.title %>
  </p>

  <p>
    <strong>category:</strong>
    <%= @ticket.category %>
  </p>

  <p>
    <strong>order_no:</strong>
    <%= @ticket.order_no %>
  </p>

  <p>
    <strong>description:</strong>
    <%= @ticket.description %>
  </p> 
  
</div>


