<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @ticket.title %>
  </p>

  <p>
    <strong>category:</strong>
    <%= @ticket.category %>
  </p>

  <p>
    <strong>order_no:</strong>
    <%= @ticket.order_no %>
  </p>

  <p>
    <strong>description:</strong>
    <%= @ticket.description %>
  </p> 
  
  <!-- Chat Section -->
  <%= render partial: 'spree/tickets/chat' %>

  <%= form_with(model: [@ticket.conversations.new], url: conversations_ticket_path(@ticket),  data: { controller: "turbo-stream" }) do |form| %>
  <%= form.text_field :message, placeholder: "Type your message here" %>
  <%= form.submit "Send" %>
<% end %>
</div>


