<div class="container chating-container">
  <h1>Recent Raised Tickets</h1>

  <%# unsolved ticket %>
  <div class="chating-box text-14 p-3 p-sm-5">
    <p class="ticket-label mb-1">Ticket Raised</p>
    <p class="ticket-number border-bottom pb-3"><%= @ticket.number %></p>
    <p class="category">Category</p>
    <p class="category-description"><%= @ticket.category %></p>
    <div class="d-flex <%= "show-page-#{@ticket.status}" %> align-items-center">
      <%= image_tag('frontend-custom-waiting-clock.svg', alt: 'Clock', width: '30px', height: '30px') %>
      <p><%= Spree.t(@ticket.status, scope: 'frontend.support.status') %></p>
    </div>

    <!-- Chat Section -->
    <%= render partial: 'spree/tickets/chat' %>

    <div class="chating-user d-flex align-items-sm-center align-items-start">
      <% unless @ticket.closed? %>
        <p class="user-logo rounded-circle text-center"><%= @ticket.extract_initials_customer_name %></p>
      <% end %>

      <div class="drop-message-container w-100 border rounded-lg">

        <!-- Chat form Section -->
        <% unless @ticket.closed? %>
          <%= render partial: 'spree/tickets/chat_form' %>
        <% else %>
          <div class="closing-message">
            <%= image_tag('frontend-custom-check.svg', class:'d-flex mx-auto', alt: 'Check', width: '24px', height: '24px') %>
            <p class="d-flex justify-content-center mt-1">Ticket <%= @ticket.number %> has been marked as closed by the customer support.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

